@media screen and (max-width: 640px) { 
    .input-search{
        padding: 10px;
    }
}

@media screen and (min-width: 641px) { 
    .input-search{
        padding-left: 250px;
        padding-right: 250px;
    } 
}


.ico {
    padding: 5px;
}