// input[type=email],
// input[type=text], 
// input[type=password]
// {
//     box-sizing: border-box;
//     background-color: transparent;
//     border-bottom: #fff 1px solid;
//     color: #fff;
//     font-weight: bold;
// }

// svg{
//     color: #fafafa;
// }

.input-search{
    padding-left: 250px;
    padding-right: 250px;
}

.ico {
    padding: 5px;
}