.icon-text{
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.new-project {
    background-color: var(--button-primary) !important;
}